<!DOCTYPE html>
<html>
<head>
    <%- include('template/head') %>
</head>

<body>
  <%- include('template/navbar')%>
  <%- include('template/banner')%>

  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
        <form action="/update_category/<%= category.id %>" method="POST">
          <div class="edit-post__title">
            編輯分類：
          </div>
          <p class="errorMessage"><%= errorMessage %></p>
          <div class="edit-post__input-wrapper">
            <input class="edit-post__input" placeholder="請輸入分類" name="name" value="<%= category.name %>"/>
          </div>
          <div class="edit-post__btn-wrapper">
              <input type="submit" class="edit-post__btn" value="更新"></input>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('template/footer')%>
</body>
</html>